* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 1000px;
    display: flex;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 472px;
    border: solid 2px black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.photoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img  { 
    width: 236px;
    height: auto;
    padding: 1px;
}







